.container {
  margin: 100px 0;
  padding-inline: 90px;
  display: grid;
  justify-content: center;
  font-size: 18px;
  line-height: 30px;

  .tech {
    margin-top: 50px;

    h2 {
      color: #2d4260;
      font-weight: bold;
    }
    strong {
      color: #2d4260;
    }
  }
}
