@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2d4260;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; /* Hide the button by default */
  transform: translateY(100%); /* Move the button down by  100% */
  animation: slide-out 0.3s forwards; /* Hide the button by default */
  z-index: 10;
}

/* Show the button when the 'showScroll' state is true */
.show-scroll {
  animation: slide-in 0.7s forwards; /* Slide in the button */
}
